# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=oficina

# SonarQube Configuration
SONAR_JDBC_USERNAME=postgres
SONAR_JDBC_PASSWORD=postgres
SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonarqube
SONAR_TOKEN=sqp_99e63549a1cd754cafb31b7d906aa31e95347e1d

# Application Configuration
PG_DSN=postgres://postgres:postgres@db:5432/oficina?sslmode=disable
JWT_SECRET=dev
PORT=8080
MIGRATIONS_DIR=scripts/db/migrations
TEST_SEEDERS_DIR=scripts/db/test_seeders
LOG_LEVEL=debug
APP_ENV=test

# Datadog Configuration
DD_API_KEY=api-key
DD_SITE=datadoghq.com

# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
AWS_ENDPOINT_URL=http://localstack:4566
SQS_BASE_URL=http://localstack:4566/000000000000/
AWS_BASE_SNS_ARN=arn:aws:sns:us-east-1:000000000000
